<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BuyerDream</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 d-flex justify-content-end">
                    @if (Context.User.Identity is { IsAuthenticated: true })
                    {
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="CreateAd" class="btn btn-light mx-2 my-2">Create Ad</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Login" asp-action="LogOut" class="btn btn-light mx-2 my-2">Edit Ad</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Login" asp-action="LogOut" class="btn btn-light mx-2 my-2">My Ads</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Login" asp-action="LogOut" class="btn btn-danger mx-2 my-2">Log Out</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-controller="Login" asp-action="Login" class="btn btn-outline-light mx-2 my-2">Login With Google</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer fixed-bottom bg-info">
    <div class="container mt-5 mb-5 text-center">
        <p>&copy; 2024 - BuyerDream - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>